<!DOCTYPE html>
<html>
<head>
  <title>Pay Successful - {{sitename}}</title>

  {% include 'common/head_meta.html' %}
</head>
<body class="{% if user_settings.darkMode == 'dark' %}bg-dark text-light{% endif %}"
      style="font-size: {{ user_settings.fontSize }};">

{% include 'common/navbar.html' %}

<main>
  <div class="container box">
    <div class="row py-5">
      <div class="pricing-header p-5 mx-auto text-center">
        <h1 class="display-4 fw-bold mb-3">Payment received.</h1>
        <p class="fs-5 text-muted fw-light">
          Your payment has been received. Thank you for your purchase.
        </p>
      </div>
    </div>
  </div>
</main>

{% include 'common/footer.html' %}

</body>
</html>