<!DOCTYPE html>
<html>
<head>
    <title>{{ news.title }} - {{ sitename }}</title>
    {% include 'common/head_meta.html' %}
</head>
<body class="{% if user_settings.darkMode == 'dark' %}bg-dark text-light{% endif %}" style="font-size: {{ user_settings.fontSize }};">

{% include 'common/navbar.html' %}

<main>
    <article class="container box mt-5 mb-4" id="chapter-main"
         data-publication="{{ news.publication }}"
         data-date="{{ news.date }}">

        {{ news.tagged_title|safe }}

        <p class="text-muted small my-4 text-center">
            Vocabulary: {{ news.vocabulary_count }}, Words: {{ news.word_count }}
        </p>

        {{ news.tagged_content_html|safe }}

        <p class="text-muted small mt-3 mb-5 text-end">from
            <a href="{{ news.url }}" target="_blank" rel="nofollow">{{ news.publication }}</a>
        </p>
    </article>
</main>

{% include 'common/footer.html' %}
<script>
    for (var i = 0; i < wordEls.length; i++) {
        wordEls[i].addEventListener('click', function () {
            var to_lang = document.getElementById('language-selector').value;
            if (!to_lang) {
                alert('Please select target language at top right');
                return;
            }
            offcanvasTitleEl.innerHTML = 'Searching...';
            offcanvasContentEl.innerHTML = '';
            OFFCANVAS_INSTANCE.show();
            searchDictionary(offcanvasTitleEl, offcanvasContentEl, this.innerText, to_lang);
        });
    }

    Array.from(sentenceButtonEls).forEach(function (p) {
        p.addEventListener('click', function (event) {
            p.classList.add('clicked');
            var sentenceEl = event.currentTarget.parentElement;
            var sentenceNo = event.currentTarget.getAttribute('id');

            offcanvasTitleEl.innerHTML = '';
            offcanvasContentEl.innerHTML = '';

            const titleDiv = document.createElement('div');
            titleDiv.classList.add('d-flex', 'justify-content-center');

            const button = document.createElement('button');
            button.innerText = 'Translate';
            button.classList.add("btn", "btn-sm", "btn-outline-secondary", "me-2");
            titleDiv.appendChild(button);

            offcanvasTitleEl.appendChild(titleDiv);

            // remove sentence no
            offcanvasContentEl.innerHTML = sentenceEl.innerHTML;
            OFFCANVAS_INSTANCE.show();

            button.addEventListener('click', function () {
                translateSentence(button, sentenceNo, offcanvasContentEl);
            });
        });
    });

</script>
</body>
</html>
